.taskFromMain{
     border: 2px solid red;
     margin: auto;
     width: 350px;
     text-align: left;

}

form{
background-color: #f2ffd6;
padding: 20px;
}
/* date and time */
.datetime{
display: flex;
margin-top: 13px;

}

.time{
margin-left: 10px;
}
/* drop down  */
.dropdown{
margin-top: 13px;
}
.list{
padding: 2px 70px 2px 70px
}

/* button design */
.button{
display: flex;
align-items: flex-end;
}
button{
margin-top: 20px;
padding: 5px 10px 5px 10px;
border: none;

}
#save{
color: #fff;
background-color: #3dfcff;

}
.sBtn{
     background-color:green !important;
}